.searchArtists-header {
  background: #5B8E7D;
}

.searchArtists-header-title {
  font-family: "Futura";
  font-size: 44px;
  color: white;
  text-shadow: -6px 6px #BC4B51;
  padding: 1%;
}
@media (max-width: 670px) {
  .searchArtists-header-title {
    font-size: 30px;
  }
}

.searchArtists-wrapper {
  width: 100%;
  height: 120%;
  background: #FBF2C5;
  padding-bottom: 40%;
}

.searchArtists-title {
  padding-top: 7%;
  padding-bottom: 2%;
  text-align: center;
  line-height: 1;
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #5B8E7D;
}
@media (max-width: 670px) and (min-width: 510px) {
  .searchArtists-title {
    font-size: 45px;
  }
}
@media (max-width: 510px) {
  .searchArtists-title {
    font-size: 34px;
  }
}

.searchArtists-search-container {
  margin-left: 20%;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #F4A259;
  border-radius: 12px;
  margin-bottom: 3%;
}
@media (max-width: 1000px) and (min-width: 705px) {
  .searchArtists-search-container {
    width: 60%;
    margin-left: 20%;
  }
}
@media (max-width: 550px) {
  .searchArtists-search-container {
    width: 70%;
    margin-left: 15%;
  }
}

.searchArtists-form-search {
  margin-left: 3%;
  display: inline-block;
  width: 80%;
}

.searchArtists-message {
  margin: 2.5%;
  height: 47px;
  width: 100%;
  border: none;
}

input[type=text].searchArtists-message-search {
  background-color: #FFF !important;
}

.searchArtists-form-button {
  margin: 2.5%;
  margin-left: 5%;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 50px;
  border: none;
  background: none;
}

.searchArtists-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 50px;
  border: none;
  background: none;
}

.searchArtists-searchImg {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 40px;
  border: none;
  background: none;
}

.searchArtists-artist {
  width: 805px;
  background: #F4A259;
  border-radius: 12px;
  margin: 2%;
  padding: 2%;
  text-align: left;
}
@media (max-width: 850px) and (min-width: 670px) {
  .searchArtists-artist {
    width: 605px;
  }
}
@media (max-width: 670px) and (min-width: 450px) {
  .searchArtists-artist {
    width: 405px;
  }
}
@media (max-width: 450px) {
  .searchArtists-artist {
    width: 280px;
  }
}

.searchArtists-artist-num {
  display: inline-block;
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: #000000;
  margin: 0 2%;
}
@media (max-width: 905px) and (min-width: 450px) {
  .searchArtists-artist-num {
    font-size: 28px;
  }
}
@media (max-width: 450px) {
  .searchArtists-artist-num {
    font-size: 22px;
  }
}

.searchArtists-artist-name {
  display: inline-block;
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #000000;
  margin: 0 8%;
}
@media (max-width: 905px) and (min-width: 450px) {
  .searchArtists-artist-name {
    font-size: 28px;
    margin: 0 5%;
  }
}
@media (max-width: 450px) {
  .searchArtists-artist-name {
    font-size: 22px;
  }
}

.searchArtists-top-count {
  background: #F4A259;
  width: 100px;
  border: 0;
  border-radius: 12px;
  font-family: "Futura";
  font-weight: 700;
  display: inline-block;
}
@media (max-width: 575px) {
  .searchArtists-top-count {
    display: block;
    margin-left: 40%;
  }
}

.searchArtists-lists {
  list-style-type: none;
  padding: 0;
  padding-bottom: 4%;
  margin: 0;
  text-align: center;
  text-align: -webkit-center;
}

.searchArtists-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

input[type=checkbox].searchArtists-checkbox {
  display: grid;
  place-content: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-top: 5%;
  width: 23px;
  height: 23px;
  color: #000000 !important;
  background-color: #FBF2C5 !important;
  border: 0.15em solid #000000 !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
}

input[type=checkbox].searchArtists-checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  border-radius: 50%;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: black !important;
}

input[type=checkbox].searchArtists-checkbox:checked::before {
  transform: scale(1) !important;
}

.searchArtists-artist-more {
  margin-right: 1%;
  width: 2em !important;
  height: 2em !important;
  color: black;
}
@media (max-width: 850px) and (min-width: 450px) {
  .searchArtists-artist-more {
    width: 1.5em !important;
    height: 1.5em !important;
  }
}
@media (max-width: 450px) {
  .searchArtists-artist-more {
    width: 1em !important;
    height: 1em !important;
  }
}

input[type=radio].searchArtists-radio {
  display: flex;
  padding-left: 1%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 2px solid #5B8E7D;
  border-radius: 50%;
}

input[type=radio].searchArtists-radio::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: transparent;
  border-radius: 50%;
  margin: 3px;
  transition: background-color 0.2s ease-in-out;
}

input[type=radio].searchArtists-radio:checked::before {
  background-color: #5B8E7D;
}

.searchArtists-radio-label {
  display: flex;
  color: #5B8E7D;
  font-size: 20px;
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 1%;
}

.searchArtists-radio-text {
  display: flex;
  padding-right: 1%;
}

.searchArtists-message-radio-wrapper {
  display: flex;
  margin-left: 35%;
}

.searchArtists-message-container {
  margin-left: 35%;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: #5B8E7D;
  border-radius: 12px;
}
@media (max-width: 1000px) and (min-width: 705px) {
  .searchArtists-message-container {
    width: 40%;
    margin-left: 30%;
  }
}
@media (max-width: 705px) and (min-width: 550px) {
  .searchArtists-message-container {
    width: 50%;
    margin-left: 25%;
  }
}
@media (max-width: 550px) {
  .searchArtists-message-container {
    width: 70%;
    margin-left: 15%;
  }
}

.searchArtists-message {
  margin: 2.5%;
  border-radius: 12px;
  height: 47px;
  width: 100%;
  border: none;
  background: #FBF2C5;
}

.searchArtists-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 50px;
  border: none;
  background: none;
}

.searchArtists-footer {
  background: #F4A259;
}

.searchArtists-form {
  display: flex;
}

.searchArtists-form-email {
  width: 100%;
  margin: 1%;
  margin-bottom: 0;
}

.searchArtists-form-number {
  width: 100%;
  margin: 1%;
  margin-bottom: 0;
}

.searchArtists-form-button {
  margin: 4%;
}/*# sourceMappingURL=SearchArtists.css.map */