.loginContainer {
  background-color: #FBF2C5;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}
@media (max-width: 505px) {
  .loginContainer {
    font-size: 16px;
  }
}

.loginContainerImg {
  position: absolute;
  margin-left: 20%;
  transform: scaleX(1);
  width: 60%;
}
@media (max-width: 1065px) {
  .loginContainerImg {
    width: 80%;
    margin-left: 12%;
  }
}

.loginButton {
  background-color: #5B8E7D;
  width: 33%;
  font-family: "Futura";
  color: #FFFFFF;
  font-size: 32px;
  text-align: center;
  border-radius: 30px;
  display: block;
  margin-top: 45%;
  padding: 1.1%;
  margin-left: 33%;
  position: relative;
}
@media (max-width: 1065px) {
  .loginButton {
    margin-top: 60%;
  }
}
@media (max-width: 995px) {
  .loginButton {
    width: 45%;
    margin-left: 27%;
  }
}
@media (max-width: 705px) and (min-width: 605px) {
  .loginButton {
    font-size: 26px;
  }
}
@media (max-width: 605px) and (min-width: 450px) {
  .loginButton {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .loginButton {
    font-size: 16px;
  }
}

.loginButtonForm {
  margin-top: 45%;
  position: relative !important;
}
@media (max-width: 1065px) {
  .loginButtonForm {
    margin-top: 60%;
  }
}

.form-email > .ant-form-item-row {
  width: 50%;
  margin-left: 25%;
}

.form-button {
  display: block !important;
  margin-left: 40%;
}
@media (max-width: 575px) {
  .form-button {
    margin-left: 35%;
  }
}

.loginContainerText {
  z-index: 100;
  position: absolute;
  width: 40%;
  margin-top: 20%;
  margin-left: 15%;
}
@media (max-width: 1500px) and (min-width: 1300px) {
  .loginContainerText {
    width: 30%;
    margin-left: 25%;
  }
}
@media (max-width: 1300px) {
  .loginContainerText {
    margin-left: 25%;
  }
}
@media (max-width: 850px) and (min-width: 695px) {
  .loginContainerText {
    margin-left: 22%;
    margin-top: 22%;
  }
}
@media (max-width: 695px) and (min-width: 600px) {
  .loginContainerText {
    width: 50%;
    margin-left: 18%;
    margin-top: 26%;
  }
}
@media (max-width: 600px) and (min-width: 440px) {
  .loginContainerText {
    width: 50%;
    margin-left: 18%;
    margin-top: 22%;
  }
}
@media (max-width: 440px) {
  .loginContainerText {
    width: 44%;
    margin-left: 18%;
    margin-top: 10%;
  }
}

.loginContainerTitle {
  font-family: "Futura";
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 850px) and (min-width: 620px) {
  .loginContainerTitle {
    font-size: 30px;
  }
}
@media (max-width: 620px) and (min-width: 385px) {
  .loginContainerTitle {
    font-size: 22px;
  }
}
@media (max-width: 385px) {
  .loginContainerTitle {
    font-size: 18px;
  }
}

.loginContainerSubtitle {
  font-family: "Futura";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FBF2C5;
  width: 45%;
  margin-left: 28%;
}
@media (max-width: 1500px) {
  .loginContainerSubtitle {
    width: auto;
    margin-left: auto;
  }
}
@media (max-width: 750px) and (min-width: 620px) {
  .loginContainerSubtitle {
    font-size: 18px;
  }
}
@media (max-width: 620px) and (min-width: 385px) {
  .loginContainerSubtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 385px) {
  .loginContainerSubtitle {
    font-size: 12px;
    line-height: 16px;
  }
}

.loginContainerWrapper {
  position: relative;
  display: flex;
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: -webkit-flex;
  display: -webkit-inline-box;
  flex-wrap: wrap;
  width: 100%;
}

.form-email .ant-form-item-required {
  color: #5B8E7D !important;
}
.form-email .ant-form-item-required::before {
  color: #5B8E7D !important;
}

.form-email .ant-input {
  padding: 7px 30px;
  width: 80%;
  margin-left: 5%;
}

.waitlistButton {
  background-color: #5B8E7D;
  font-family: "Futura";
  color: #FFFFFF;
  font-size: 32px;
  text-align: center;
  border-radius: 10px;
  display: block;
}
@media (max-width: 905px) {
  .waitlistButton {
    font-size: 30px;
  }
}
@media (max-width: 705px) and (min-width: 605px) {
  .waitlistButton {
    font-size: 26px;
  }
}
@media (max-width: 605px) and (min-width: 450px) {
  .waitlistButton {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .waitlistButton {
    font-size: 16px;
  }
}/*# sourceMappingURL=Login.css.map */